body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#timeIndia, 
#timeIsrael, 
#timeUSA, 
#timeUTC, 
#timeAustralia, 
#timeSingapore {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}